
<div class="user_profile">

  <h3><%= @user.full_name %>
  - <%= @user.personality.convert_to_mb if @user.personality %><h3>

</div>
<% if !@user.personality %>
<div class="">
<%= link_to "Analyze!", new_personality_path , class: "waves-effect waves-light btn" %>
</div>

<%elsif @user.personality %>
<div class="row section">
  <div class="col">
    <!-- Modal Trigger -->
    <a class="waves-effect waves-light btn" href="#modal1">About</a>

    <!-- Modal Structure -->
    <div id="modal1" class="modal pink">
      <div class="modal-content">
        <h4><%=@type.nickname%></h4>
        <p><%=@type.content%></p>
      </div>
      <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        <a href="/personalities/<%=@user.personality.id%>" class=" modal-action modal-close waves-effect waves-green btn-flat">More</a>
      </div>
    </div>


<% end %>

<%= render 'bucketList', locals:{buckelist: @buckelist} %>

<div class="fb-share-button" data-href="http://dbcbucketlist.herokuapp.com/share/<%=current_user.id%>" data-layout="button" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fdbcbucketlist.herokuapp.com%2Fusers%2F9&amp;src=sdkpreparse">Share</a></div>
