
<div class="user_profile">
  <h3><%= @user.full_name %> - <%= @user.personality.convert_to_mb%><h3>

</div>
<div class="">
<%= link_to "Analyze!", new_personality_path , class: "waves-effect waves-light btn" %>
</div>

<%if @user.personality %>
<div class="row">
  <ul class="collapsible popout col s1 m1 l12" data-collapsible="accordion">
    <li>
      <div class="collapsible-header">
          <i class="material-icons"></i>
      </div>
      <%= render 'big', locals:{name:@user.personality.parse_personality["personality"][0]["name"], value:@user.personality.op } %>
      <%= render 'big', locals:{name:@user.personality.parse_personality["personality"][1]["name"], value:@user.personality.co } %>
      <%= render 'big', locals:{name:@user.personality.parse_personality["personality"][2]["name"], value:@user.personality.ex } %>
      <%= render 'big', locals:{name:@user.personality.parse_personality["personality"][3]["name"], value:@user.personality.ag } %>
      <%= render 'big', locals:{name:@user.personality.parse_personality["personality"][4]["name"], value:@user.personality.ne } %>
      <div class="collapsible-body col s1 m1 l12">
          <div class="col l12 center" >
              <%= link_to "View full results",  personality_path(@user.personality.id), class: "waves-effect waves-light btn"  %>
          </div>
      </div>
    </li>
  </ul>
</div>
<% end %>

<%= render 'bucketList', locals:{buckelist: @buckelist } %>
