<h5>Based on your <%=@scores["word_count"]%> words...</h5>
<h4 align="center">Big 5 Personality Traits</h4>
<h6 align="center">Myers-Briggs Type: <%=@mb_type%></h6>
<div class="big-five-container">
  <% @scores["personality"].each do |trait| %>
      <div class="big-five" >
        <b><%=trait["name"]%></b>
        <%= horizontal_bar_chart big_five_data(trait), big_five_options %>
        <div class="sub-big-five" style="display:none;">
          <%= horizontal_bar_chart sub_trait_data(trait), sub_trait_options %>
        </div>
      </div><br>
  <%end%>
</div><br><br>
<div class="row">
  <div class="col l6" >
    <%= polar_area_chart radar_data(@scores["needs"]), radar_options("Needs") %>
  </div>
  <div class="col l6">
    <%= polar_area_chart radar_data(@scores["values"]), radar_options("Values") %>
  </div>
</div>


<h4 align="center">Consumption Preferences</h4>

<div class="row">
  <div class="col l6" >
      <h5 align="center">Highly unlikely to...</h5>
      <% unlikely_preferences(@scores["consumption_preferences"]).each do |preference| %>
        <li><%=preference%></li>
      <% end %>
  </div>
  <div class="col l6">
    <h5 align="center">Highly likely to...</h5>
    <% likely_preferences(@scores["consumption_preferences"]).each do |preference| %>
      <li ><%=preference%></li>
    <% end %>
  </div>
</div>
