<h5>Based on your <%=@scores["word_count"]%> words...</h5>
<h4 align="center">Big 5 Personality Traits</h4>
<h6 align="center">Myers-Briggs Type: <%=@mb_type%></h6>
<div class="big-five-container">
  <% @scores["personality"].each do |trait| %>
      <div class="big-five" >
        <b><%=trait["name"]%></b>
        <p class = "z-depth-4"><%= horizontal_bar_chart big_five_data(trait), big_five_options %></p> 
        <div class="sub-big-five" style="display:none; ">
          <%= horizontal_bar_chart sub_trait_data(trait), sub_trait_options %>
        </div>
      </div><br>
  <%end%>
</div><br><br><br><br>




<!-- Modal Trigger -->
<a class="waves-effect waves-light btn center-align" href="#modal2">Consumption Preference</a>

<!-- Modal Structure -->
<div id="modal2" class="modal bottom-sheet blue-grey">
  <div class="modal-content">
    <div class="row">
    <ul class="col s6">
      <h3>Highly likely to....</h3>
      <% likely_preferences(@scores["consumption_preferences"]).each do |preference| %>
      <li style="padding-left: 20px;"> - <%=preference%></li>
      <% end %>
    </ul>
    <h3>Highly unlikely to....</h3>
    <ul class="col s6">
    <% unlikely_preferences(@scores["consumption_preferences"]).each do |preference| %>
      <li style="padding-left: 20px;"> - <%=preference%></li>
    <% end %>
    </ul>
  </div>
  <div class="modal-footer">
  </div>
</div>
</div>

<br><br><br><br>


<div class="row">
  <div class="col l6" >
    <%= polar_area_chart radar_data(@scores["needs"]), radar_options("Needs") %>
  </div>
  <div class="col l6">
    <%= polar_area_chart radar_data(@scores["values"]), radar_options("Values") %>
  </div>
</div>
